module.exports = [{
    /* 1 */
    "enableFlag": "true",
    "applicationName": "SANDSTORM",
    "description": " SANDSTORM Application, $tenantId",
    "applicationCode": "SANDSTORM",
    "createdBy": "SYSTEM",
    "logo": "",
    "favicon": "",
    "entityId": "$entityId",
    "accessLevel": "0",
    "tenantId": "$tenantId",
    "createdDate": new Date(),
    "lastUpdatedDate": new Date(),
    "processingStatus": "AUTHORIZED",
    "wfInstanceId" : "ddss",
    "wfInstanceStatus" : "APPROVED"
  },
  /* 2 */
  {

    "enableFlag": "true",
    "applicationName": "Corporate Direct Access",
    "description": "Flux CDA",
    "applicationCode": "FLUX_CDA",
    "createdBy": "SYSTEM",
    "logo": "",
    "favicon": "",
    "entityId": "$entityId",
    "accessLevel": "0",
    "tenantId": "$tenantId",
    "createdDate": new Date(),
    "lastUpdatedDate": new Date(),
    "updatedBy": "sriharig",
    "wfInstanceId" : ""
   
  }
]
