module.exports = [
  /* 1 */
  {
    "menuItems": [{
        "menuItemType": "menu",
        "applicationCode": "SANDSTORM",
        "menuItemCode": "roleManagement",
        "title": "Role Management",
        "menuItemOrder": 1,
        "link": "roleManagement",
        "icon": "evo-role",
        "selectedFlag": false,
        "subMenuItems": [{
            "menuItemType": "button",
            "applicationCode": "SANDSTORM",
            "menuItemCode": "approve-role",
            "title": "Approve",
            "menuItemOrder": 1,
            "link": "approve",
            "icon": "evo-approve",
            "selectedFlag": false
          },
          {
            "menuItemType" : "button",
            "applicationCode" : "SANDSTORM",
            "menuItemCode" : "updateRole",
            "title" : "Modify",
            "menuItemOrder" : 1,
            "link" : "updateRole",
            "icon" : "evo-role",
            "selectedFlag" : false
        }, 
          {
            "menuItemType": "button",
            "applicationCode": "SANDSTORM",
            "menuItemCode": "reprocess-role",
            "title": "Reprocess",
            "menuItemOrder": 2,
            "link": "reprocess",
            "icon": "evo-reprocess",
            "selectedFlag": false
          },
          {
            "menuItemType": "button",
            "applicationCode": "SANDSTORM",
            "menuItemCode": "reject-role",
            "title": "Reject",
            "menuItemOrder": 3,
            "link": "reject",
            "icon": "evo-reject",
            "selectedFlag": false
          }
        ]
      },
      {
        "menuItemType": "menu",
        "applicationCode": "SANDSTORM",
        "menuItemCode": "entityManagement",
        "title": "Entity Management",
        "menuItemOrder": 2,
        "link": "entityManagement",
        "icon": "evo-entity",
        "subMenuItems": [{
            "menuItemType": "button",
            "applicationCode": "SANDSTORM",
            "menuItemCode": "approve-entity",
            "title": "Approve",
            "menuItemOrder": 1,
            "link": "approve",
            "icon": "evo-approve",
            "selectedFlag": false
          },
          {
            "menuItemType" : "button",
            "applicationCode" : "SANDSTORM",
            "menuItemCode" : "updateEntity",
            "title" : "Modify",
            "menuItemOrder" : 1,
            "link" : "updateEntity",
            "icon" : "evo-entity",
            "selectedFlag" : false
        },
          {
            "menuItemType": "button",
            "applicationCode": "SANDSTORM",
            "menuItemCode": "reprocess-entity",
            "title": "Reprocess",
            "menuItemOrder": 2,
            "link": "reprocessEntity",
            "icon": "evo-reprocess",
            "selectedFlag": false
          },
          {
            "menuItemType": "button",
            "applicationCode": "SANDSTORM",
            "menuItemCode": "reject-entity",
            "title": "Reject",
            "menuItemOrder": 3,
            "link": "reject",
            "icon": "evo-reject",
            "selectedFlag": false
          }
        ]
      },
      {
        "menuItemType": "menu",
        "applicationCode": "SANDSTORM",
        "menuItemCode": "userManagement",
        "title": "User Management",
        "menuItemOrder": 2,
        "link": "userManagement",
        "icon": "evo-user",
        "selectedFlag": false,
        "subMenuItems": [{
            "menuItemType": "button",
            "applicationCode": "SANDSTORM",
            "menuItemCode": "approve-user",
            "title": "Approve",
            "menuItemOrder": 1,
            "link": "approve",
            "icon": "evo-approve",
            "selectedFlag": false
          },
          {
            "menuItemType" : "button",
            "applicationCode" : "SANDSTORM",
            "menuItemCode" : "updateUser",
            "title" : "Modify",
            "menuItemOrder" : 1,
            "link" : "updateUser",
            "icon" : "evo-user",
            "selectedFlag" : false
        }, 
          {
            "menuItemType": "button",
            "applicationCode": "SANDSTORM",
            "menuItemCode": "reprocess-user",
            "title": "Reprocess",
            "menuItemOrder": 2,
            "link": "reprocess",
            "icon": "evo-reprocess",
            "selectedFlag": false
          },
          {
            "menuItemType": "button",
            "applicationCode": "SANDSTORM",
            "menuItemCode": "reject-user",
            "title": "Reject",
            "menuItemOrder": 3,
            "link": "reject",
            "icon": "evo-reject",
            "selectedFlag": false
          }
        ]
      }
    ],
    "deletedFlag": 0,
    "menuGroupCode": "Administration",
    "title": "ADMINISTRATION",
    "applicationCode": "SANDSTORM",
    "tenantId": "$tenantId",
    "createdBy": "SYSTEM",
    "menuGroupOrder": 1,
    "createdDate": new Date(),
    "lastUpdatedDate": new Date(),
    "wfInstanceId": "fgdgf",
    "wfInstanceStatus": "AUTHORIZED",
    "__v": 0
  },
    {
    /* 2*/
    "menuItems": [{
        "menuItemType": "menu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "dashboard",
        "title": "Dashboard",
        "icon": "RTP-icons_dashboard",
        "link": "",
        "menuItemOrder": 0
      },
      {
        "menuItemType": "menu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "mandate",
        "link": "/mandate",
        "icon": "icon-authorization",
        "title": "Mandate",
        "menuItemOrder": 1
      },
      {
        "menuItemType": "menu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "reports",
        "title": "Report",
        "icon": "RTP-icons_reports",
        "link": "/reports",
        "menuItemOrder": 2
      },
      {
        "menuItemType": "menu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "achcode",
        "title": "ACH Code",
        "icon": "icon-originator",
        "link": "/achcode",
        "menuItemOrder": 3
      },
      {
        "menuItemType": "menu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "outpayment",
        "title": "Outward Payment",
        "icon": "RTP-icons_outward-payments",
        "link": "/owpayment",
        "menuItemOrder": 4
      }
    ],
    "deletedFlag": 0,
    "menuGroupCode": "dashboard",
    "title": "Dashboard",
    "applicationCode": "FLUX_CDA",
    "tenantId": "$tenantId",
    "createdBy": "SYSTEM",
    "menuGroupOrder": 0,
    "createdDate": new Date(),
    "lastUpdatedDate": new Date(),
    "wfInstanceId": "gfdg",
    "wfInstanceStatus": "AUTHORIZED"
  },
  {
    /* 3 */
    "menuItems": [{
        "menuItemType": "menu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "bulkupload",
        "title": "Bulk Upload",
        "icon": "",
        "link": "/bulkupload",
        "menuItemOrder": 0
      },
      {
        "menuItemType": "menu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "mandate",
        "title": "Nach Mandates",
        "icon": "",
        "link": "/mandate",
        "menuItemOrder": 2
      },
      {
        "menuItemType": "menu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "directdebitmandate",
        "title": "Direct Debit Mandates",
        "icon": "",
        "link": "",
        "menuItemOrder": 3
      },
      {
        "menuItemType": "menu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "emandate",
        "title": "Emandates",
        "icon": "",
        "link": "",
        "menuItemOrder": 4
      },
      {
        "menuItemType": "menu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "outwardpayment",
        "title": "Outward Payments",
        "icon": "",
        "link": "",
        "menuItemOrder": 4
      },
      {
        "menuItemType": "menu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "enquiry",
        "title": "Enquiry",
        "icon": "",
        "link": "/enquiry",
        "menuItemOrder": 4
      },
      {
        "menuItemType": "menu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "dashboard",
        "title": "Dashboard",
        "icon": "",
        "link": "/dashboard",
        "menuItemOrder": 4
      }
    ],
    "deletedFlag": 0,
    "menuGroupCode": "matmenugroup",
    "title": "MainMenu",
    "applicationCode": "FLUX_CDA",
    "tenantId": "$tenantId",
    "createdBy": "SYSTEM",
    "menuGroupOrder": 1,
    "createdDate": new Date(),
    "lastUpdatedDate": new Date(),
    "wfInstanceId": "dsgsgs",
    "wfInstanceStatus": "AUTHORIZED"
  },
  {
    /* 4 */
    "menuItems": [{
        "menuItemType": "menu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "enquiry",
        "title": "File Enquiry",
        "icon": "assets/images/Artboard 2.svg",
        "link": "/enquiry",
        "menuItemOrder": 0
      },
      {
        "menuItemType": "submenu",
        "applicationCode": "FLUX_CDA",
        "menuItemCode": "filesummary",
        "title": "File Summary",
        "icon": "assets/images/file-summary.svg",
        "link": "",
        "menuItemOrder": 1,
        "subMenuItems": [{
            "menuItemType": "submenu",
            "applicationCode": "FLUX_CDA",
            "menuItemCode": "mandateuploadgrid",
            "title": "Mandate File Summary",
            "icon": "",
            "link": "/mandateuploadgrid",
            "menuItemOrder": 0
          },
          {
            "menuItemType": "submenu",
            "applicationCode": "FLUX_CDA",
            "menuItemCode": "paymentuploadgrid",
            "title": "Payment File Summary",
            "icon": "",
            "link": "/paymentuploadgrid",
            "menuItemOrder": 1
          }
        ]
      }
    ],
    "deletedFlag": 0,
    "menuGroupCode": "bulkmenugroup",
    "title": "BulkUploadMenu",
    "applicationCode": "FLUX_CDA",
    "tenantId": "$tenantId",
    "createdBy": "SYSTEM",
    "menuGroupOrder": 2,
    "createdDate": new Date(),
    "lastUpdatedDate": new Date(),
    "wfInstanceId": "fesff",
    "wfInstanceStatus": "AUTHORIZED"
  }
]