module.exports = [{
    /* 1 */

    "enabledFlag": "true",
    "deletedFlag": "0",
    "activationStatus": "ACTIVE",
    "loginStatus": "LOGGED_OUT",
    "processingStatus": "AUTHORIZED",
    "entityId": "$entityId",
    "applicationCode": "SANDSTORM",
    "contact": {
      "phoneNumber": "8095636207",
      "mobileNumber": "6565666666",
      "faxNumber": "5665656565",
      "city": "Bangalore",
      "state": "karnataka",
      "country": "India",
      "emailId": "sriharig@gmail.com"
    },
    "role": {
      "txnType": [
        "CREATE_USER",
        "UPDATE_USER",
        "CREATE_ROLE",
        "UPDATE_ROLE"
      ],
      "processingStatus": "AUTHORIZED",
      "roleName": "CYBER_SECURITY",
      "applicationCode": "SANDSTORM",
      "description": "This is CYBER_SECURITY roles",
      "activationStatus": "ACTIVE",
      "menuGroup": [{
          "menuItems": [{
              "menuItemType": "menu",
              "applicationCode": "SANDSTORM",
              "menuItemCode": "roleManagement",
              "title": "Role Management",
              "icon": "evo-role",
              "link": "roleManagement",
              "menuItemOrder": 1,
              "selectedFlag": false,
              "subMenuItems": [{
                  "menuItemType": "button",
                  "applicationCode": "SANDSTORM",
                  "menuItemCode": "modify",
                  "title": "Modify",
                  "menuItemOrder": 1,
                  "link": "updateRole",
                  "icon": "evo-role",
                  "selectedFlag": false

                }

              ]
            },
            {
              "menuItemType": "menu",
              "applicationCode": "SANDSTORM",
              "menuItemCode": "entityManagement",
              "icon": "evo-entity",
              "link": "entityManagement",
              "title": "Entity Management",
              "menuItemOrder": 2,
              "selectedFlag": false,
              "subMenuItems": [{
                  "menuItemType": "button",
                  "applicationCode": "SANDSTORM",
                  "menuItemCode": "modify",
                  "title": "Modify",
                  "menuItemOrder": 1,
                  "link": "updateEntity",
                  "icon": "evo-entity",
                  "selectedFlag": false
                }


              ]
            },
            {
              "menuItemType": "menu",
              "applicationCode": "SANDSTORM",
              "menuItemCode": "userManagement",
              "icon": "evo-user",
              "link": "userManagement",
              "title": "User Management",
              "menuItemOrder": 2,
              "selectedFlag": false,
              "subMenuItems": [{
                  "menuItemType": "button",
                  "applicationCode": "SANDSTORM",
                  "menuItemCode": "modify",
                  "title": "Modify",
                  "menuItemOrder": 1,
                  "link": "updateUser",
                  "icon": "evo-user",
                  "selectedFlag": false

                }


              ]
            }
          ],
          "deletedFlag": 0,
          "menuGroupCode": "Administration",
          "title": "ADMINISTRATION",
          "applicationCode": "SANDSTORM",
          "tenantId": "$tenantId",
          "createdBy": "SYSTEM",
          "menuGroupOrder": 1,
          "createdDate": new Date(),
          "lastUpdatedDate": new Date(),

        },
        {
          "menuItems": [{
            "menuItemType": "menu",
            "applicationCode": "SANDSTORM",
            "menuItemCode": "bulkUpload",
            "title": "Bulk Upload",
            "icon": "evo-bulkupload",
            "link": "bulkUpload",
            "menuItemOrder": 1,
            "selectedFlag": false,
            "subMenuItems": []
          }, ],
          "deletedFlag": 0,
          "menuGroupCode": "maintenance",
          "title": "MAINTENANCE",
          "applicationCode": "SANDSTORM",
          "tenantId": "$tenantId",
          "createdBy": "SYSTEM",
          "menuGroupOrder": 2,
          "createdDate": new Date(),
          "lastUpdatedDate": new Date(),
          "__v": 0
        }
      ],
      "roleType": "MAKER",
      "associatedUsers": 5,
      "tenantId": "$tenantId",
      "createdBy": "SYSTEM",
      "entityId": "$entityId",
      "createdDate": new Date(),
      "lastUpdatedDate": new Date(),
      "__v": 0,
      "updatedBy": "sriharig"
    },
    "userId": "CONSOLEMAKER$tenantId",
    "userName": "CONSOLEMAKER$tenantId",
    "userPassword": "$2a$10$bVAXH8ck.PlRGRv1AEb5yefrOymoEJWC8dsOPj5Mp7VCFjd/e.Y5C",
    "createdBy": "SYSTEM",
    "createdDate": new Date(),
    "lastUpdatedDate": new Date(),
    "masterTimeZone": "IST",
    "masterCurrency": "Indian Rupee",
    "tenantId": "$tenantId",
    "saltString": "$2a$10$bVAXH8ck.PlRGRv1AEb5ye",
    "accessLevel": "0",
    "token": "eyJhbGciOiJIUzUxMiJ9.eyJYLVJPTEUiOiJDWUJFUl9TRUNVUklUWSIsIlgtQVBQTElDQVRJT04iOiJTQU5EU1RPUk0iLCJzdWIiOiJTUklIQVJJRyIsImF1ZGllbmNlIjoid2ViIiwiY3JlYXRlZCI6MTUzMzI3NTIxNzE2MSwiWC1BQ0NFU1MtTEVWRUwiOiIwIiwiWC1URU5BTlQtSUQiOiJUMDAxIiwiWC1FTlRJVFktSUQiOiJIMDAxQjAwMSIsIl9pZCI6IjViNTVkMmVlZjlkMGE1MTlhYWQ1OGFiMiIsIlgtVVNFUiI6IlNSSUhBUklHIiwiZXhwIjoxNTMzMjc1NTE3fQ.Y44laxiORl7z2zf1xBJ3ZFQdOGsruXh4pPeHnnJySmXErxFGooCp3CbLLPdOlly9FWU-c212-zsNbpae5DDWyQ",
    "dailyLimit": 10000000,
    "designation": "software engineer",
    "individualTransactionLimit": 1000000000,
    "updatedBy": "sriharig",
    "wfInstanceId": ""
    
  }, {
    /* 2 */
    "enabledFlag": "true",
    "deletedFlag": "0",
    "loginStatus": "LOGGED_OUT",
    "activationStatus": "ACTIVE",
    "processingStatus": "AUTHORIZED",
    "entityId": "$entityId",
    "applicationCode": "SANDSTORM",
    "contact": {
      "phoneNumber": "8095636207",
      "mobileNumber": "6565666666",
      "faxNumber": "5665656565",
      "city": "Bangalore",
      "state": "karnataka",
      "country": "India",
      "emailId": "cda@gmail.com"
    },
    "role": {
      "txnType": [
        "CREATE_USER",
        "UPDATE_USER",
        "CREATE_ROLE",
        "UPDATE_ROLE"
      ],
      "processingStatus": "AUTHORIZED",
      "roleName": "CYBER_SECURITY",
      "applicationCode": "SANDSTORM",
      "description": "This is CYBER_SECURITY roles",
      "activationStatus": "ACTIVE",
      "menuGroup": [{
         "menuItems": [{
              "menuItemType": "menu",
              "applicationCode": "SANDSTORM",
              "menuItemCode": "roleManagement",
              "title": "Role Management",
              "icon": "evo-role",
              "link": "roleManagement",
              "menuItemOrder": 1,
              "selectedFlag": false,
              "subMenuItems": [{
                  "menuItemType": "button",
                  "applicationCode": "SANDSTORM",
                  "menuItemCode": "approve",
                  "title": "Approve",
                  "menuItemOrder": 3,
                  "link": "approveRole",
                  "icon": "evo-role",
                  "selectedFlag": false

                },
                {
                  "menuItemType": "button",
                  "applicationCode": "SANDSTORM",
                  "menuItemCode": "reject",
                  "title": "Reject",
                  "menuItemOrder": 3,
                  "link": "rejectRole",
                  "icon": "evo-role",
                  "selectedFlag": false

                },
                {
                  "menuItemType": "button",
                  "applicationCode": "SANDSTORM",
                  "menuItemCode": "reprocess",
                  "title": "Reprocess",
                  "menuItemOrder": 2,
                  "link": "reprocessRole",
                  "icon": "evo-reprocess",
                  "selectedFlag": false
                }
              ]
            },
            {
              "menuItemType": "menu",
              "applicationCode": "SANDSTORM",
              "menuItemCode": "entityManagement",
              "icon": "evo-entity",
              "link": "entityManagement",
              "title": "Entity Management",
              "menuItemOrder": 2,
              "selectedFlag": false,
              "subMenuItems": [{
                  "menuItemType": "button",
                  "applicationCode": "SANDSTORM",
                  "menuItemCode": "approve",
                  "title": "Approve",
                  "menuItemOrder": 3,
                  "link": "approveEntity",
                  "icon": "evo-entity",
                  "selectedFlag": false

                },
                {
                  "menuItemType": "button",
                  "applicationCode": "SANDSTORM",
                  "menuItemCode": "reject",
                  "title": "Reject",
                  "menuItemOrder": 3,
                  "link": "rejectEntity",
                  "icon": "evo-entity",
                  "selectedFlag": false

                },
                {
                  "menuItemType": "button",
                  "applicationCode": "SANDSTORM",
                  "menuItemCode": "reprocess",
                  "title": "Reprocess",
                  "menuItemOrder": 2,
                  "link": "reprocessEntity",
                  "icon": "evo-reprocess",
                  "selectedFlag": false
                }
              ]
            },
            {
              "menuItemType": "menu",
              "applicationCode": "SANDSTORM",
              "menuItemCode": "userManagement",
              "icon": "evo-user",
              "link": "userManagement",
              "title": "User Management",
              "menuItemOrder": 2,
              "selectedFlag": false,
              "subMenuItems": [{
                  "menuItemType": "button",
                  "applicationCode": "SANDSTORM",
                  "menuItemCode": "approve",
                  "title": "Approve",
                  "menuItemOrder": 3,
                  "link": "approveUser",
                  "icon": "evo-user",
                  "selectedFlag": false

                },
                {
                  "menuItemType": "button",
                  "applicationCode": "SANDSTORM",
                  "menuItemCode": "reject",
                  "title": "Reject",
                  "menuItemOrder": 3,
                  "link": "rejectUser",
                  "icon": "evo-user",
                  "selectedFlag": false
                },
                {
                  "menuItemType": "button",
                  "applicationCode": "SANDSTORM",
                  "menuItemCode": "reprocess",
                  "title": "Reprocess",
                  "menuItemOrder": 2,
                  "link": "reprocessUser",
                  "icon": "evo-reprocess",
                  "selectedFlag": false
                },
              ]
            }
          ],
          "deletedFlag": 0,
          "menuGroupCode": "Administration",
          "title": "ADMINISTRATION",
          "applicationCode": "SANDSTORM",
          "tenantId": "$tenantId",
          "createdBy": "SYSTEM",
          "menuGroupOrder": 1,
          "createdDate": new Date(),
          "lastUpdatedDate": new Date(),
          "__v": 0
        }

      ],
      "roleType": "CHECKER",
      "associatedUsers": 5,
      "tenantId": "$tenantId",
      "createdBy": "SYSTEM",
      "entityId": "$entityId",
      "createdDate": new Date(),
      "lastUpdatedDate": new Date(),
      "__v": 0,
      "updatedBy": "sriharig"
    },
    "userId": "CONSOLECHECKER$tenantId",
    "userName": "CONSOLECHECKER$tenantId",
    "userPassword": "$2a$10$bVAXH8ck.PlRGRv1AEb5yefrOymoEJWC8dsOPj5Mp7VCFjd/e.Y5C",
    "createdBy": "SYSTEM",
    "createdDate": new Date(),
    "lastUpdatedDate": new Date(),
    "masterTimeZone": "IST",
    "masterCurrency": "Indian Rupee",
    "tenantId": "$tenantId",
    "saltString": "$2a$10$bVAXH8ck.PlRGRv1AEb5ye",
    "accessLevel": "0",
    "token": "eyJhbGciOiJIUzUxMiJ9.eyJYLVJPTEUiOiJDWUJFUl9TRUNVUklUWSIsIlgtQVBQTElDQVRJT04iOiJTQU5EU1RPUk0iLCJzdWIiOiJjZGFDb25zb2xlIiwiYXVkaWVuY2UiOiJ3ZWIiLCJjcmVhdGVkIjoxNTMzMjExNzU5ODczLCJYLUFDQ0VTUy1MRVZFTCI6IjAiLCJYLVRFTkFOVC1JRCI6IlQwMDEiLCJYLUVOVElUWS1JRCI6IkgwMDFCMDAxIiwiX2lkIjoiNWI1NWQyZWVmOWQwYTUxOWFhZDU4OTk5IiwiWC1VU0VSIjoiY2RhQ29uc29sZSIsImV4cCI6MTUzMzIxMjA1OX0.Wo3Ao3w3_T28AN5iONnFL_UK3YG0R0D5gQ4fWoE8ecatJefKk3uyPT1W1dGnjIiolplLx4PiGR7ZWCeHiyrQHg",
    "dailyLimit": 10000000,
    "designation": "software engineer",
    "individualTransactionLimit": 1000000000,
    "updatedBy": "sriharig",
    "wfInstanceId": ""
   
  }, /* 3 */
  {

    "enabledFlag": "true",
    "deletedFlag": "false",
    "selectedFlag": false,
    "activationStatus": "ACTIVE",
    "processingStatus": "AUTHORIZED",
    "loginStatus": "LOGGED_OUT",
    "entityId": "$entityId",
    "contact": {
      "processingStatus": "IN_PROGRESS",
      "phoneNumber": "",
      "mobileNumber": "",
      "faxNumber": "",
      "city": "Banagalore",
      "state": "karnataka",
      "country": "India",
      "emailId": "amanss@gmail.com"
    },
    "role": {
      "txnType": [
        "UPDATE_USER"
      ],
      "selectedFlag": false,
      "processingStatus": "AUTHORIZED",
      "roleName": "CDA-MAKER",
      "applicationCode": "FLUX_CDA",
      "description": "CDA_Maker",
      "activationStatus": "ACTIVE",
      "menuGroup": [{
          "menuItems": [{
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "bulkupload",
              "title": "Bulk Upload",
              "icon": "",
              "link": "/bulkupload",
              "menuItemOrder": 0,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "mandate",
              "title": "Nach Mandates",
              "icon": "",
              "link": "/mandate",
              "menuItemOrder": 2,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "directdebitmandate",
              "title": "Direct Debit Mandate",
              "icon": "",
              "link": "",
              "menuItemOrder": 3,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "emandate",
              "title": "Emandates",
              "icon": "",
              "link": "",
              "menuItemOrder": 4,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "outwardpayment",
              "title": "Outward Payments",
              "icon": "",
              "link": "",
              "menuItemOrder": 4,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "enquiry",
              "title": "Enquiry",
              "icon": "",
              "link": "/enquiry",
              "menuItemOrder": 4,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "dashboard",
              "title": "Dashboard",
              "icon": "",
              "link": "/dashboard",
              "menuItemOrder": 4,
              "subMenuItems": [],
              "selectedFlag": false
            }
          ],
          "deletedFlag": 0,
          "selectedFlag": false,
          "menuGroupCode": "matmenugroup",
          "title": "MainMenu",
          "applicationCode": "FLUX_CDA",
          "tenantId": "$tenantId",
          "createdBy": "SYSTEM",
          "menuGroupOrder": 1,
          "createdDate": new Date(),
          "lastUpdatedDate": new Date(),
        },
        {
          "menuItems": [{
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "enquiry2",
              "title": "File Enquiry",
              "icon": "assets/images/Artboard 2.svg",
              "link": "/enquiry",
              "menuItemOrder": 0,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "submenu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "filesummary",
              "title": "File Summary",
              "icon": "assets/images/file-summary.svg",
              "link": "",
              "menuItemOrder": 1,
              "subMenuItems": [{
                  "menuItemType": "submenu",
                  "applicationCode": "FLUX_CDA",
                  "menuItemCode": "mandateuploadgrid",
                  "title": "Mandate File Summary",
                  "icon": "",
                  "link": "/mandateuploadgrid",
                  "menuItemOrder": 0,
                  "selectedFlag": false
                },
                {
                  "menuItemType": "submenu",
                  "applicationCode": "FLUX_CDA",
                  "menuItemCode": "paymentuploadgrid",
                  "title": "Payment File Summary",
                  "icon": "",
                  "link": "/paymentuploadgrid",
                  "menuItemOrder": 1,
                  "selectedFlag": false
                }
              ],
              "selectedFlag": false
            }
          ],
          "deletedFlag": 0,
          "selectedFlag": false,
          "menuGroupCode": "bulkmenugroup",
          "title": "BulkUploadMenu",
          "applicationCode": "FLUX_CDA",
          "tenantId": "$tenantId",
          "createdBy": "SYSTEM",
          "menuGroupOrder": 2,
          "createdDate": new Date(),
          "lastUpdatedDate": new Date(),
        }
      ],
      "roleType": "MAKER",
      "associatedUsers": 5,
      "tenantId": "$tenantId",
      "createdBy": "SYSTEM",
      "entityId": "$entityId",
      "createdDate": new Date(),
      "lastUpdatedDate": new Date(),
      "__v": 0,
      "wfInstanceId": ""

    },
    "userId": "CDAMAKER$tenantId",
    "designation": "Manager",
    "userName": "CDAMAKER$tenantId",
    "masterCurrency": "Indian Rupee",
    "dailyLimit": 12000,
    "individualTransactionLimit": 12000,
    "tenantId": "$tenantId",
    "createdDate": new Date(),
    "lastUpdatedDate": new Date(),
    "createdBy": "SYSTEM",
    "userPassword": "$2a$10$g/izn0olzQmlh15rjMBEae00KCR8.u.paFkLBemZ0RI7ODQadrsb2",
    "accessLevel": "0",
    "applicationCode": "FLUX_CDA",
    "saltString": "$2a$10$g/izn0olzQmlh15rjMBEae",
    "__v": 0,
    "wfInstanceId": "",
    "token": "eyJhbGciOiJIUzUxMiJ9.eyJYLVJPTEUiOiJDREEtTUFLRVIiLCJYLUFQUExJQ0FUSU9OIjoiRkxVWF9DREEiLCJzdWIiOiJDREFfTUFLRVIiLCJhdWRpZW5jZSI6IndlYiIsImNyZWF0ZWQiOjE1MzM1NTY0NTg2ODgsIlgtQUNDRVNTLUxFVkVMIjoiMiIsIlgtVEVOQU5ULUlEIjoiVDAwMiIsIlgtRU5USVRZLUlEIjoiSDAwMkIwMDJiUkd3TzNNa2pEIiwiX2lkIjoiNWI2ODJjMGNmNGQ5ZWMwMDE1MjY4MDg3IiwiWC1VU0VSIjoiQ0RBX01BS0VSIiwiZXhwIjoxNTMzNTU2NzU4fQ.SXAPl7GGaulek0GmviORxfCTEL13UTdPUmOckpf_O6JeRUU7YkhVZ_gXh3va3mQ43DTBqGl4SUMf29EvvmhHeg"
  },

  /* 4 */
  {

    "enabledFlag": "true",
    "deletedFlag": "false",
    "selectedFlag": false,
    "activationStatus": "ACTIVE",
    "processingStatus": "AUTHORIZED",
    "loginStatus": "LOGGED_OUT",
    "entityId": "$entityId",
    "contact": {
      "processingStatus": "IN_PROGRESS",
      "phoneNumber": "",
      "mobileNumber": "",
      "faxNumber": "",
      "city": "Banagalore",
      "state": "Karnataka",
      "country": "India",
      "emailId": "anuj@gmail.com"
    },
    "role": {
      "txnType": [
        "UPDATE_USER"
      ],
      "selectedFlag": false,
      "processingStatus": "AUTHORIZED",
      "roleName": "CDA-CHECKER",
      "applicationCode": "FLUX_CDA",
      "description": "CDA_Checker",
      "activationStatus": "ACTIVE",
      "menuGroup": [{
          "menuItems": [{
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "bulkupload",
              "title": "Bulk Upload",
              "icon": "",
              "link": "/bulkupload",
              "menuItemOrder": 0,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "mandate",
              "title": "Nach Mandates",
              "icon": "",
              "link": "/mandate",
              "menuItemOrder": 2,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "directdebitmandate",
              "title": "Direct Debit Mandate",
              "icon": "",
              "link": "",
              "menuItemOrder": 3,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "emandate",
              "title": "Emandates",
              "icon": "",
              "link": "",
              "menuItemOrder": 4,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "outwardpayment",
              "title": "Outward Payments",
              "icon": "",
              "link": "",
              "menuItemOrder": 4,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "enquiry",
              "title": "Enquiry",
              "icon": "",
              "link": "/enquiry",
              "menuItemOrder": 4,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "dashboard",
              "title": "Dashboard",
              "icon": "",
              "link": "/dashboard",
              "menuItemOrder": 4,
              "subMenuItems": [],
              "selectedFlag": false
            }
          ],
          "deletedFlag": 0,
          "selectedFlag": false,
          "menuGroupCode": "matmenugroup",
          "title": "MainMenu",
          "applicationCode": "FLUX_CDA",
          "tenantId": "$tenantId",
          "createdBy": "SYSTEM",
          "menuGroupOrder": 1,
          "createdDate": new Date(),
          "lastUpdatedDate": new Date(),
        },
        {
          "menuItems": [{
              "menuItemType": "menu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "enquiry2",
              "title": "File Enquiry",
              "icon": "assets/images/Artboard 2.svg",
              "link": "/enquiry",
              "menuItemOrder": 0,
              "subMenuItems": [],
              "selectedFlag": false
            },
            {
              "menuItemType": "submenu",
              "applicationCode": "FLUX_CDA",
              "menuItemCode": "filesummary",
              "title": "File Summary",
              "icon": "assets/images/file-summary.svg",
              "link": "",
              "menuItemOrder": 1,
              "subMenuItems": [{
                  "menuItemType": "submenu",
                  "applicationCode": "FLUX_CDA",
                  "menuItemCode": "mandateuploadgrid",
                  "title": "Mandate File Summary",
                  "icon": "",
                  "link": "/mandateuploadgrid",
                  "menuItemOrder": 0,
                  "selectedFlag": false
                },
                {
                  "menuItemType": "submenu",
                  "applicationCode": "FLUX_CDA",
                  "menuItemCode": "paymentuploadgrid",
                  "title": "Payment File Summary",
                  "icon": "",
                  "link": "/paymentuploadgrid",
                  "menuItemOrder": 1,
                  "selectedFlag": false
                }
              ],
              "selectedFlag": false
            }
          ],
          "deletedFlag": 0,
          "selectedFlag": false,
          "menuGroupCode": "bulkmenugroup",
          "title": "BulkUploadMenu",
          "applicationCode": "FLUX_CDA",
          "tenantId": "$tenantId",
          "createdBy": "SYSTEM",
          "menuGroupOrder": 2,
          "createdDate": new Date(),
          "lastUpdatedDate": new Date(),
        }
      ],
      "roleType": "CHECKER",
      "associatedUsers": 5,
      "tenantId": "$tenantId",
      "createdBy": "SYSTEM",
      "entityId": "$entityId",
      "createdDate": new Date(),
      "lastUpdatedDate": new Date(),
      "__v": 0,
      "wfInstanceId": ""
      
    },
    "userId": "CDACHECKER$tenantId",
    "designation": "team lead",
    "userName": "CDACHECKER$tenantId",
    "masterCurrency": "Indian Rupee",
    "dailyLimit": 1200,
    "individualTransactionLimit": 1200,
    "tenantId": "$tenantId",
    "createdDate": new Date(),
    "lastUpdatedDate": new Date(),
    "createdBy": "SYSTEM",
    "userPassword": "$2a$10$43A87dKUkKRSyAiZHugts.KF4W2nxtv6wmTzLJdNa8Tth/GkLkPEK",
    "accessLevel": "0",
    "applicationCode": "FLUX_CDA",
    "saltString": "$2a$10$43A87dKUkKRSyAiZHugts.",
    "__v": 0,
    "wfInstanceId": ""
    
  }
]